@import "tailwindcss";

/* Gradient Border color */

.Button-color{
    background: linear-gradient(180deg, #00D2FF 0%, #059DBE 100%);

}

.footer-border-color {
   

    border-image-source: linear-gradient(180deg, #00D2FF 0%, #059DBE 100%);
    
    border-image-slice:1;


}
